<%- include('../views/layouts/main_cliente.ejs'); %>
<div>
  <div class="contendorcateg">
    <h1 class="tituloGrande">Resultados de búsqueda</h1>
  </div>
    <div id="resultado">
            <table class="table table-hover">
              <thead>
                      <br>
                      <br>
                <tr class="table-info">
                  <th></th>
                  <th>Nombre</th>
                  <th>Descripción</th>
                  <th>Costo del servicio</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% trabajo.forEach(function(user){ %>
                <tr class="table-primary">
                  <td>
                    <div class="iconoss">
                      <img src="https://www.aprendemas.com/co/blog/images/2021/10/profesor_mal_tips.jpg" width="100" height="100" alt="Texto alternativo">
                    </div>
                  </td>
                  <td>
                    <p class="textotabla2"><b><%= user.nombre %><%= user.apellido %></b>
                      <br>
                    <%= user.celular %></p>
                  </td>
                  <td>
                    <div>
                      <p class="textotabla3"><b><%= user.nombre_labor %></b></p>
                      <p class="textotabla4"><%= user.tipo_unidad %></p>
                    </div>
                  </td>
                  <td>
                      <p class="textotabla"><%= user.tarifa %></p>
                  </td>
                  <td>
                    <br>
                    <br>
                    
                    <div class="aligboton">
                      <a href="/calificar">
                        <input type="button" class="btn btn-info solicitar" value="Solicitar">
                      </a>
                    </div>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
    </div>

  <div class="comentarioalig">
    <a href="/categorias">
      <input type="button" class="btn btn-primary" name="regresar" value="Regresar">
    </a>
  </div>
</div>

<script>
</script>
